<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="https://github.com/">
<html>
    <body>
        <h1>Hello World</h1>
body {
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
      
}

h1 {
  color: navy;
  margin-left: 20px;
  text-decoration-style: solid;
}
  img {
  border: 10px solid rgb(75, 185, 102);
  width="300" height="300";
}
p {
      text-align: center;
      color: #666;
      line-height: 1.6;
    }
    </body>
</html>
